// color
$primary900: #000000;
$primary800: #1E1E1E;
$primary700: #3B3B3B;
$primary600: #5B5B5B;
$primary500: #919191;
$primary400: #C1C1C1;
$primary300: #E9E9E9;
$primary200: #F1F1F1;
$primary100: #FAFAFA;
$primary50: #FFFFFF;

// text
$font-family1: "Noto Sans", sans-serif;
$font-family2: "Tourney", sans-serif;
$font-blod: 700;
$font-normal: 600;